.wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;

  & > div:first-child {

  }

  & > div:last-child {
    height: auto;
    flex: 1;
    overflow: auto;
  }
}

.disabled {
  cursor: not-allowed;
  background: #eceeef;

  & > :global(.ql-toolbar) {
    pointer-events: none;
  }
}
