---
title: page-fb-wall
body_class: page-fb-wall
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/plyr/plyr.css">
    <link rel="stylesheet" href="{{global}}/vendor/magnific-popup/magnific-popup.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/fb_wall.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/plyr/plyr.js"></script>
    <script src="{{global}}/vendor/magnific-popup/jquery.magnific-popup.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/plyr.js"></script>
    <script src="{{global}}/js/Plugin/magnific-popup.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/pages/fb_wall.js"></script>
  {{/content}}

  {{#content "body"}}

    <div class="page">
      <div class="page-content container-fluid">
        <div class="row">
          <div class="col-xs-12 col-lg-8">
            <div class="card">
              <img class="card-img-top w-full" src="{{global}}/photos/placeholder.png">
              <div class="card-block wall-person-info">
                <a class="avatar bg-white img-bordered person-avatar">
                  <img class="" src="{{global}}/portraits/2.jpg">
                </a>
                <h2 class="person-name">
                  <a href="#">Jonathan Smith</a>
                </h2>
                <p class="card-text">
                  <a href="#" class="blue-grey-400">jsmith@flatlab.com</a>
                </p>
              </div>
            </div>
            <div class="card card-shadow wall-posting">
              <div class="card-block p-0">
                <div class="form-group m-b-0">
                  <input class="form-control form-control-lg" type="text" name="write" placeholder="Whats in your mind tody?"
                  />
                  <div class="p-10">
                    <button class="btn btn-pure btn-default icon wb-image" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon wb-video" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon wb-calendar" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon wb-map" type="button" name="button"></button>
                    <button class="btn btn-primary btn-round submit pull-xs-right m-r-10">
                      Post
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/6.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Mallinda Hollaway
                  </h4>
                  <small>Posted on 31st Aug 2017 at 07:00</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="card-text m-b-20">
                  Aliqua labore dolor dolor ipsum cillum ullamco sit elit. Id eu velit in est laborum
                  occaecat excepteur duis magna. Et aliquip do Lorem deserunt eiusmod
                  in minim ex tempor. Aute dolor culpa minim dolore consequat esse
                  labore. Et ea incididunt velit occaecat eiusmod consectetur aute.
                  Nulla ipsum pariatur proident laborum eiusmod adipisicing ipsum
                  velit aute. Ad commodo esse occaecat mollit amet duis elit et.
                  Veniam excepteur sit incididunt sunt sunt.
                </p>
                <div class="row imgs-gallery m-b-20 no-space">
                  <div class="col-lg-12">
                    <a href="../../../global/photos/animal-2-960x640.jpg" alt="..." class="gallery-item"
                      data-img-id="m_1" title="view_1">
                      <img src="../../../global/photos/animal-2-960x640.jpg" class="w-full">
                    </a>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 36
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 220
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_3">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_4">
                      <img src="{{global}}/portraits/4.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2017</small>
                    <p class="m-t-5">
                      Consectetur occaecat amet excepteur ut dolore eiusmod proident labore. Officia
                      enim dolore anim minim nisi sit occaecat. Quis laborum magna
                      amet mollit ipsum anim. In irure elit duis do dolor et magna.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/5.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Sam Anderson</a>
                    <small class="m-l-10">3 mins ago...</small>
                    <p class="m-t-5">
                      Do veniam aliqua reprehenderit esse. Ex aliquip fugiat est minim magna aliqua pariatur.
                      Ad nisi labore sint pariatur id laborum. Deserunt amet commodo
                      dolore et ad eu.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control m-b-15" placeholder="Write Something...">
                  <div class="reply-opration">
                    <button class="btn btn-sm btn-primary" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/1.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Felix Harper
                  </h4>
                  <small>Posted on 29th Aug 2017 at 02:10</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="card-text m-b-20">
                  Nisi mollit sunt laborum elit occaecat minim anim. Fugiat ad cillum ad quis. Labore
                  adipisicing Lorem aliqua excepteur fugiat pariatur commodo. Id
                  nostrud culpa culpa dolore. Voluptate esse esse non anim sit.
                  Ea minim est non elit eiusmod aliquip. Amet veniam ipsum aliqua
                  in aliqua consectetur sint commodo tempor. Ut ipsum laboris duis
                  id fugiat ut minim.
                </p>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 0
                    </span>
                    <span class="m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 0
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <form class="wall-comment-reply">
                  <input type="text" class="form-control m-b-15" placeholder="Write Something...">
                  <div class="reply-opration">
                    <button class="btn btn-sm btn-primary" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/5.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Johnni Schmidt
                  </h4>
                  <small>Posted on 2nd on Jul 2017 at 02:10</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="card-text m-b-20">
                  Ea minim qui non non quis id irure et non. Aliqua sint enim cupidatat cillum ullamco
                  anim aliquip mollit. Voluptate irure eu anim quis est commodo.
                  Ut consequat id non sit duis proident culpa. Adipisicing ullamco
                  commodo amet cupidatat ipsum veniam velit. Sit consequat qui
                  ullamco culpa qui cupidatat cillum. In duis officia sint ad proident
                  cillum. Duis id velit culpa aute.
                </p>
                <div class="row imgs-gallery m-b-20 no-space">
                  <div class="col-xl-4 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-2-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_1" title="view_1">
                      <img src="../../../global/photos/city-2-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-3-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_2" title="view_2">
                      <img src="../../../global/photos/city-3-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-4-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_3" title="view_3">
                      <img src="../../../global/photos/city-4-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-xs-12">
                    <a href="../../../global/photos/city-5-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_4" title="view_4">
                      <img src="../../../global/photos/city-5-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-xs-12">
                    <a href="../../../global/photos/animal-1-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_5" title="view_5">
                      <img src="../../../global/photos/animal-1-720x480.jpg" class="w-full">
                    </a>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 2
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 10
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2017</small>
                    <p class="m-t-5">
                      Fugiat sint pariatur ipsum reprehenderit deserunt. Laborum officia veniam pariatur
                      ea. Irure magna pariatur nisi nostrud. Pariatur elit exercitation
                      mollit do fugiat velit.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control m-b-15" placeholder="Write Something...">
                  <div class="reply-opration">
                    <button class="btn btn-sm btn-primary" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/3.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Tim Collins
                  </h4>
                  <small>Posted on 2nd Sep 2017 at 17:00</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="wall-note">Added a new video</p>
                <p class="card-text m-b-20">
                  Labore commodo incididunt elit duis fugiat proident excepteur occaecat Lorem. Veniam
                  ea laborum eiusmod velit sint elit velit dolor do. Dolore eu
                  pariatur incididunt non do sunt exercitation laboris. Velit nisi
                  adipisicing et fugiat duis eiusmod. Irure Lorem reprehenderit
                  sint enim quis aliquip aliquip. Et aliquip id amet consequat
                  cillum Lorem. Aute commodo do velit laborum ea. Cillum sint sunt
                  laboris consectetur magna qui cillum anim.
                </p>
                <div class="row m-b-20 no-space">
                  <div class="col-xxl-6 col-xl-12">
                    <div class="cover player" data-video-id="v_1">
                      <video poster="{{assets}}/examples/images/poster.jpg" controls crossorigin>
                        <!-- Video Files -->
                        <source type="video/mp4" src="https://cdn.selz.com/plyr/1.0/movie.mp4">
                        <source type="video/webm" src="https://cdn.selz.com/plyr/1.0/movie.webm">

                        <!-- Text Track File -->
                        <track kind="captions" label="English" srclang="en" src="//cdn.selz.com/plyr/1.0/en.vtt"
                          default>

                        <!-- Fallback For Browsers That Don'T Support The <Video> Element -->
                        <a href="https://cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
                      </video>
                    </div>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 18
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 45
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2017</small>
                    <p class="m-t-5">
                      Elit amet eu adipisicing pariatur in dolor quis. Sint enim reprehenderit esse consequat.
                      Deserunt consequat nulla deserunt reprehenderit incididunt.
                      Consectetur sit laborum proident nulla eiusmod aliqua qui
                      labore.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control m-b-15" placeholder="Write Something...">
                  <div class="reply-opration">
                    <button class="btn btn-sm btn-primary" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-block media clearfix p-25">
                <div class="media-left">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/3.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="media-heading">
                    Tim Collins
                  </h4>
                  <small>Posted on 2nd Sep 2017 at 17:00</small>
                </div>
              </div>
              <div class="card-block p-x-25  p-t-0">
                <p class="wall-note">Is listening to the Evernote</p>
                <p class="card-text m-b-20">
                  Laborum minim nisi laboris commodo excepteur. Eu elit irure ex dolore cupidatat.
                  Dolor sunt aliquip aute pariatur magna. Eu tempor nulla est sint
                  magna non mollit laborum. Reprehenderit id ex cillum enim ad
                  ex. Sit occaecat eiusmod ad sint laboris occaecat excepteur.
                  Minim adipisicing exercitation nisi proident dolor do do. Nulla
                  elit velit culpa dolore.
                </p>
                <div class="wall-body-audio clearfix">
                  <div class="row m-b-20 no-space">
                    <div class="col-xxl-6 col-xl-12">
                      <div class="cover player" data-audio-id="">
                        <audio controls>
                          <!-- Audio Files -->
                          <source type="audio/mp3" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">
                          <source type="audio/ogg" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.ogg">
                          <!-- Fallback For Browsers That Don'T Support The <Audio> Element -->
                          <a href="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">Download</a>
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta pull-xs-left">
                    <span>
                      <i class="icon wb-chat"></i> 18
                    </span>
                    <span class="success m-l-10">
                      </if>
                      <i class="icon wb-heart"></i> 45
                    </span>
                  </li>
                  <li class="pull-xs-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md pull-xs-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="m-l-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="m-l-10">30th July 2017</small>
                    <p class="m-t-5">
                      Qui officia amet cupidatat sint esse dolor laboris. Cillum cillum ad do irure officia
                      eu deserunt velit qui. Aliqua eu quis aliquip reprehenderit
                      commodo ullamco officia eu. Et aute cupidatat deserunt amet
                      exercitation voluptate proident.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon wb-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control m-b-15" placeholder="Write Something...">
                  <div class="reply-opration">
                    <button class="btn btn-sm btn-primary" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-4">
            <div class="card card-block">
              <h4 class="card-title">About me</h4>
              <p class="card-text">
                Pariatur ipsum id enim voluptate do non. Ex ut sunt consectetur sunt labore enim
                velit ut in. Anim non enim nostrud velit duis dolor. Mollit voluptate
                pariatur enim eiusmod esse.
                <a href="#">Read more...</a>
              </p>
            </div>
            <div class="card wall-recent-comments">
              <div class="card-block">
                <h4 class="card-title">
                  Recent Comments
                </h4>
                <p class="card-text">
                  Cras congue nec lorem eget posuere
                </p>
              </div>
              <ul class="list-group">
                <a class="list-group-item" data-recomment-id="c_1">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/6.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">David Belle</h5>
                      <p class="list-group-item-text">
                        Esse veniam non sunt culpa irure....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_2">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/7.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Jonathan Morris</h5>
                      <p class="list-group-item-text">
                        Officia incididunt deserunt non aliquip pariatur occaecat laboris et....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_3">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/4.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Fredric Mitchell Jr.</h5>
                      <p class="list-group-item-text">
                        Sint adipisicing velit dolore laboris et eiusmod pariatur pariatur reprehenderit....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_4">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/7.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Jonathan Morris</h5>
                      <p class="list-group-item-text">
                        Aliqua elit irure dolor Lorem incididunt aliquip incididunt elit....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_5">
                  <div class="media">
                    <div class="media-left pull-xs-left p-r-15">
                      <img class="avatar avatar-md" src="../../../global/portraits/4.jpg">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">Fredric Mitchell Jr.</h5>
                      <p class="list-group-item-text">
                        Do laboris irure labore qui id....
                      </p>
                    </div>
                  </div>
                </a>
              </ul>
              <div class="card-block comments-view">
                <a href="#">View All</a>
              </div>
            </div>
            <div class="card p-20">
              <h4 class="card-title">
                Contact Information
              </h4>
              <p class="card-text">
                Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero
              </p>
              <div class="card-block p-0">
                <p data-info-type="phone" class="m-b-10 text-nowrap">
                  <i class="icon wb-user m-r-10"></i>
                  <span class="text-break">00971123456789
                    <span>
                      </li>
                      <p data-info-type="email" class="m-b-10 text-nowrap">
                        <i class="icon wb-envelope m-r-10"></i>
                        <span class="text-break">malinda.h@gmail.com
                          <span>
                            </li>
                            <p data-info-type="fb" class="m-b-10 text-nowrap">
                              <i class="icon bd-facebook m-r-10"></i>
                              <span class="text-break">malinda.hollaway
                                <span>
                                  </li>
                                  <p data-info-type="twitter" class="m-b-10 text-nowrap">
                                    <i class="icon bd-twitter m-r-10"></i>
                                    <span class="text-break">@malinda (twitter.com/malinda)
                                      <span>
                                        </li>
                                        <p data-info-type="address" class="m-b-10 text-nowrap">
                                          <i class="icon wb-map m-r-10"></i>
                                          <span class="text-break">44-46 Morningside Road,Edinburgh,Scotland
                                            <span>
                                              </li>
                                        </p>
              </div>
            </div>
          </div>
        </div>
      </div>

  {{/content}}
{{/extend}}