.item {
  margin-bottom: 0.5rem;
}

.label {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #f0f0f0;
  line-height: 34px;
  padding-left: 10px;
  width: calc(100% - 34px);
}

.remove {
  width: 34px;
  height: 34px;
  text-align: center;
  display: inline-block;
  padding: 0;
}
